@include b(transfer) {
  display: flex;
  font-size: 14px;
  min-width: 880px;
}

@include b(transfer-opts) {
  width: 8%;
  max-width: 80px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 40px;

  @include e(cell) {
    float: left;
    display: inline-block;
    width: 6px;
    height: 20px;
    background-color: #1acac6;

    @include m(small) {
      width: 4px;
      background-color: #E6A23C;
    }
    @include m(large) {
      width: 8px;
      background-color: #1acac6;
    }
    @include m(right) {
      margin-left: 1px;
    }
  }

  @include e(buttons) {
    margin-top: 150px;
    padding: 0 20px;
  }

  @include e(button) {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    background-color: #409eff;
    font-size: 0;

    &.is-disabled {
      border: 1px solid #dcdfe6;
      background-color: #f5f7fa;
      color: #c0c4cc;
    }

    i {
      font-size: 14px;
    }

    @include m(first) {
      margin-bottom: 10px;
    }
  }
}
@include b (transfer-grid) {
  display: flex;
  align-items: center;

  & span {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
  }
  & span.active {
    box-shadow: 2px 2px 5px #888888;
  }
}

@include b(transfer-panel) {
  padding: 16px;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  width: 46%;
  max-height: 100%;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  transition: all .5s;

  @include m(small) {
    width: 0%;
    padding: 0;
    transition: all .5s;
  }
  @include m(large) {
    width: 92%;
    transition: all .5s;
  }

  & /deep/ .kl-transfer-panel__body {
    min-height: 400px;
  }
}


@include b(transfer-validate-notify) {
  max-height: 300px;
  overflow: auto;
  backface-visibility: hidden;
}
