@include b(button) {
    /*按钮总样式覆盖*/
    font-size: 12px;
    padding: 9px 16px;
    border-radius: 2px;

    &:hover,
    &:focus {
        color: #1acac6;
        background: #FFF;
        border-color: #1acac6;
    }

    /* 朴素按钮的颜色覆盖*/
    @include when(plain) {
        &:hover,
        &:focus {
            outline: none;
            text-decoration: none;
            color: #1acac6;
            background: #FFF;
            border-color: #1acac6;
        }
    }
    /* 禁止按钮的样式覆盖*/
    @include when(disabled) {
        &,
        &:hover,
        &:focus {
            cursor: not-allowed;
            background: #f8f8f8;
            color: #ccc;
            border: 1px solid #ebeef5;
            -ms-transform: none;
            transform: none;
        }
    }
    /*loading按钮样式*/
    @include when(loading) {
        cursor: not-allowed;
        background: #f8f8f8;
        color: #ccc;
        border: 1px solid #eee;
        -ms-transform: none;
        transform: none;
    }
    @include when(round) {
        line-height: 12px;
    }
    
    /*危险累按钮样式覆盖*/
    @include m(danger) {
        &.is-plain {
            color: #F86B6B;
            background: #fff;
            border-color: #F86B6B;
            &:focus,
            &:hover {
                background: #fff;
                border-color: #f97a7a;
                color: #f97a7a;
            }
        }
        &:hover,
        &:focus {
            background: #f78989;
            border-color: #f78989;
            color: #fff;
        }
    }
    /*按钮size样式*/
    @include m(medium) {
        padding: 0px 16px;
        height: 40px;
        line-height: 38px;
        font-size: 14px;
        min-width: 104px;
        @include when(circle) {
            padding: 0px 20px;
        }
    }

    @include m(mini) {
        padding: 0px 8px;
        height: 24px;
        line-height: 22px;
        font-size: 12px;
        min-width: 56px;
        @include when(circle) {
            padding: 0px 15px;
        }
    }
    /*text样式覆盖*/
    @include m(text) {
        color:#0398FF;
        font-weight: normal;
        &:hover,
        &:focus {
            background: transparent;
            border-color: transparent;
            color: #66b1ff;
        }
        &.is-disabled,
        &.is-disabled:hover,
        &.is-disabled:focus {
            border-color: transparent;
            color: #c0c4cc;
            cursor: not-allowed;
            background-image: none;
            background-color: transparent;
        }
    }

    @include m(primary) {
        &:hover,
        &:focus {
            color: #fff;
            background: #1acac6;
            border-color: #1acac6;
        }
    }

    @include m(success) {
        &:hover,
        &:focus {
            color: #fff;
            background: #85ce61;
            border-color: #85ce61;
        }
    }

    @include m(info) {
        &:hover,
        &:focus {
            background: #a6a9ad;
            border-color: #a6a9ad;
            color: #fff;
        }
    }

    @include m(warning) {
        &:hover,
        &:focus {
            background: #ebb563;
            border-color: #ebb563;
            color: #fff;
        }
    }
}