/*覆盖 级联选择器样式*/
@include b(cascader-menu) {
    @include e(item) {
        &:focus:not(:active),
        &:hover {
            background-color: #e6f9f9;
        }
        &.is-active {
            color: #606266;
            background-color: #e6f9f9;
        }
    }
}
@include b(cascader) {
    font-size: 12px;
    line-height: 32px;
}
/*覆盖 级联选择器样式*/
// .el-cascader-menu__item.is-active {
//     color: #00C4C0;
// }
// .el-cascader {
//     font-size: 12px;
//     line-height: 32px;
// }
// .el-cascader-menu__item {
//     font-size: 12px;
// }
// .el-cascader-menu__item:focus:not(:active),
// .el-cascader-menu__item:hover {
//     background-color: #e6f9f9;
// }
// .el-cascader-menu__item.is-active {
//     color: #606266;
//     background-color: #e6f9f9;
// }