@include b(popover) {
    font-size: 12px;
    color: #666;
    padding: 8px 16px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    .el-button+.el-button {
        margin-left: 0px;
    }
}

// /*样式覆盖*/
// .el-popover {
//     font-size: 12px;
//     color: #666;
//     padding: 8px 16px;
//     box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
//     line-height: 1.5;
// }
// .el-button+.el-button {
//     margin-left: 0px;
// }