/*覆盖radio样式*/
@include b(radio) {
    @include e(input) {
        &.is-checked {
            .el-radio__inner {
                border-color: #00C4C0;
                background: #fff;
                &::after {
                    background-color: #00C4C0;
                    width: 7px;
                    height: 7px;
                }
            }

            &+.el-radio__label {
                color: #333;
            }
        }
    }

    @include e(label) {
        font-size: 12px;
        padding-left: 8px;
    }

    @include e(inner) {
        &:hover {
            border-color: #00C4C0;
        }
    } 
}
/*覆盖radio样式*/
// .el-radio__input.is-checked .el-radio__inner {
//     border-color: #00C4C0;
//     background: #fff;
// }
// .el-radio__input.is-checked  .el-radio__inner::after {
//     background-color: #00C4C0;
//     width: 7px;
//     height: 7px;
// }
// .el-radio__label {
//     font-size: 12px;
//     padding-left: 8px;
// }
// .el-radio__inner:hover {
//     border-color: #00C4C0;
// }
// .el-radio__input.is-checked+.el-radio__label {
//     color: #333;
// }