node_modules
.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log
lerna-debug.log
npm-debug.log.*
yarn-debug.log.*
yarn-error.log.*
lerna-debug.log.*
lib
.idea
.vscode
examples/element-ui
examples/pages/en-US
examples/pages/zh-CN
examples/pages/es
examples/pages/fr-FR
fe.element/element-ui
.npmrc
coverage
waiter.config.js
build/bin/algolia-key.js
.envrc

examples/components/header.vue
examples/components/demo-block.vue
examples/components/footer.vue
examples/components/footer-nav.vue
examples/components/search.vue
examples/components/side-nav.vue
examples/components/theme-picker.vue
