@include b(input) {
    /*input样式覆盖*/
    @include e(inner) {
        height: 32px;
        line-height: 32px;
        font-size: 12px;
        padding-right: 30px;
    }
    /*input-icon 样式覆盖*/
    @include e(icon) {
        line-height: 32px;
    }

    @include m(miniW) {
        width: 80px;
    }
    @include m(smallW) {
        width: 160px;
    }
    @include m(mediumW) {
        width: 300px;
    }
}

@include b(input-number) {
  width: 100%;
  line-height: 32px;
  @include e((increase, decrease)) {
    position: absolute;
    z-index: 1;
    top: 1px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  @include when(without-controls) {
    .el-input__inner {
      text-align: left;
    }
  }
}
