@include b(tag) {
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    background: #fff;
    color: #333;
    border-radius: 20px;
    border-color: #e3e3e3;
    padding: 0 14px;

    @include m(success) {
        color: white;
        background: #93DD68;
        border-color: #93DD68;
    }

    @include m(info) {
        background: #aaa;
        border-color: #aaa;
        color: white;
    }

    @include m(warning) {
        color: white;
        background: #FFB539;
        border-color: #FFB539;
    }

    @include m(danger) {
        color: white;
        background: #F86B6B;
        border-color: #F86B6B;
    }

    @include m(primary) {
        color: white;
        background: #00C4C0;
        border-color: #00C4C0;
    }

    @include m(mini) {
        line-height: 17px;
    }
    .el-icon-close {
        font-size: 14px;
        color: #666;
        &:hover {
            background: #c0c4cc;
            color: #fff;
        }
    }
}
